.text-test {
  color: rgb(170, 2, 2);
  text-align: center;
}
/* couleur des types pokemon */

.bg-yellow {
  background-color: rgb(240, 240, 8);
  color: black;
  padding: 2px;
  border-radius: 2px;
}
.bg-red {
  background-color: rgb(230, 0, 0);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.bg-blue {
  background-color: rgb(21, 21, 207);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.bg-brown {
  background-color: rgb(156, 42, 42);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.bg-green {
  background-color: rgb(4, 170, 26);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.bg-dimgrey {
  background-color: rgb(168, 166, 166);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.bg-navy {
  background-color: rgb(99, 14, 110);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.bg-purple {
  background-color: rgb(169, 6, 190);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.bg-orange {
  background-color: rgb(224, 146, 0);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.bg-grey {
  background-color: rgb(153, 153, 153);
  color: rgb(250, 250, 250);
  padding: 2px;
  border-radius: 2px;
}
.bg-pink {
  background-color: rgb(255, 115, 208);
  color: rgb(250, 250, 250);
  padding: 2px;
  border-radius: 2px;
}
.bg-lightblue {
  background-color: lightblue;
  color: black;
  padding: 2px;
  border-radius: 2px;
}
/* partie card pokemon */
.container-pokemon-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 1em;
  padding: 2px;
}
.card-pokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  padding: 2px;
  box-shadow: 10px 5px 5px rgb(212, 210, 210);
}
@media (min-width: 950px) and (max-width: 1300px) {
  .container-pokemon-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media (max-width: 950px) {
  .container-pokemon-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    padding: 3px;
    width: 40%;
  }
  .card-pokemon-text {
    padding: 2px;
  }
  .content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (width > 1300) {
  .container-pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 1em;
    padding: 2px;
  }
}
