<div class="content-main" role="main">
  <h1 class="text-test">Accueil</h1>
  <div class="container-pokemon-list">
    <div *ngFor="let pokemon of pokemonList" class="card-pokemon" appBorderCardPokemon>
      <div class="card-pokemon-img"><img src="{{ pokemon.picture }}" alt="image de pokémon"></div>
      <div class="card-pokemon-text">
        <h3 class="card-pokemon-title">{{ pokemon.name }}</h3>
        <p *ngFor="let type of pokemon.types" class="{{type | lowercase}}"><span
            class="{{ type | pokemonTypeColor }}">{{ type }}</span></p>
        <p class="card-pokemon-date">Date : {{ pokemon.created | date:"d MMM, y" }}</p>
      </div>
    </div>
  </div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input type="number" name="index" required ngModel><br>
    <input type="submit" value="submit"><br>
  </form><br>
  <br>
  <input type="number" #input (keyup.enter)="selectPokemon(input.value)">
  <p *ngIf="pokemonSelected">Le pokémon sélectionné est {{ pokemonSelected.name }}</p>
  <p *ngIf="!pokemonSelected">Aucun pokémon n'a été trouvé</p>
</div>
